.route {
  position: relative;
  top: -120px;
  margin: 0 auto;
  max-width: 924px;

  .timeline {
    position: absolute;
    top: 0;
    left: 0;
  }

  .paper-plane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: rotate(45deg);
    width: 40px;
    offset-distance: 0%;
    offset-rotate: auto 0deg;
    offset-path: path(
      "M578 1C810.5 110.167 1159.1 419.3 693.5 782.5C111.5 1236.5 419 1350 498.5 1395.5C578 1441 996.5 1677 381 1876.5C-234.5 2076 70.9998 2444 116.5 2516C162 2588 821.5 3376.5 847.5 3494.5C873.5 3612.5 768.5 4420 583 4624.5C397.5 4829 292.5 5072 155 5336.5C17.5 5601 -73.5 5901.5 263 6041C599.5 6180.5 1201 6384.5 705.5 6577"
    );
    &-first {
      offset-distance: 0%;
    }
    &-last {
      offset-distance: 60%;
    }
  }

  .path {
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: 0.4;

    path {
      stroke-width: 1px;
      stroke-dasharray: 10px;
      stroke: var(--color-text);
      width: 80%;
    }
  }
}
