.route {
  position: relative;
  top: -120px;
  display: none;
  margin: 0 auto;
  max-width: 1200px;
  transition: opacity 200ms ease;
  &.is-hide {
    opacity: 0;
  }
  .airplane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 40px;
    offset-distance: 0%;
    offset-rotate: auto 45deg;
    offset-path: path(
      "M600.36 5.99993L600.36 59.04C600.075 74.3754 610.913 106.61 656.55 112.868C713.597 120.69 932.219 132.507 984.033 386.363C1035.85 640.219 746.814 825.137 543.007 912.281C339.201 999.425 269.23 1337.17 544.608 1423.81C819.986 1510.46 859.51 1673.35 634.152 1746.56C408.793 1819.77 170.199 1819.01 93.5048 2086.27C16.811 2353.53 275.439 2522.23 364.108 2564.96C452.776 2607.69 810.641 2840.08 846.88 3071.99C883.12 3303.89 609.219 3529.26 387.019 3652.97C164.82 3776.67 176.071 4175.16 485.659 4324.71C795.247 4474.25 874.721 4776.02 847.666 4921.62C820.611 5067.21 540.755 5307.61 417.951 5385.5C108.287 5697.1 57.6126 5891.26 142.197 6078C226.782 6264.74 1160.53 6663.32 1161.5 6973.31C1162.19 7193.1 860.5 7281.5 757.5 7309.5"
    );
    transition: transform 200ms ease-in-out;
    &.is-up {
      transform: rotate(180deg);
    }
    path {
      fill: var(--color-text);
    }
    &.is-arrival {
      path {
        fill: $yellow;
      }
    }
    &-first {
      offset-distance: 0%;
    }
    &-last {
      offset-distance: 60%;
    }
  }

  .path {
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: 0.4;

    path {
      stroke-width: 1px;
      stroke-dasharray: 10px;
      stroke: var(--color-text);
      width: 80%;
    }
  }
  @include responsive(lg) {
    display: block;
  }
}
