.route {
  position: relative;
  top: -120px;
  display: none;
  margin: 0 auto;
  max-width: 1200px;
  transition: opacity 200ms ease;
  &.is-hide {
    opacity: 0;
  }
  .airplane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 40px;
    offset-distance: 0%;
    offset-rotate: auto 45deg;
    offset-path: path(
      "M600.329 0V59C599.995 74.3333 610.729 106.6 656.329 113C713.329 121 931.829 133.5 982.829 387.5C1033.83 641.5 744.329 825.5 540.329 912C336.329 998.5 265.329 1336 540.329 1423.5C815.329 1511 854.329 1674 628.829 1746.5C403.329 1819 164.829 1817.5 87.3286 2084.5C9.8286 2351.5 267.829 2521 356.329 2564C444.829 2607 801.828 2840.5 837.328 3072.5C872.828 3304.5 598.328 3529 375.828 3652C153.328 3775 163.328 4173.5 472.328 4324C781.328 4474.5 859.828 4776.5 832.328 4922C804.828 5067.5 524.328 5307 401.328 5384.5C278.328 5462 82 5723.5 98 5910C114 6096.5 306.328 6183.5 595.328 6273C884.328 6362.5 1119.5 6453.5 1139 6621C1167.64 6867 779 6881.5 779 6881.5"
    );

    transition: transform 200ms ease-in-out;
    &.is-up {
      transform: rotate(180deg);
    }
    path {
      fill: var(--color-text);
    }
    &.is-arrival {
      path {
        fill: $yellow;
      }
    }
    &-first {
      offset-distance: 0%;
    }
    &-last {
      offset-distance: 60%;
    }
  }

  .path {
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: 0.4;

    path {
      stroke-width: 1px;
      stroke-dasharray: 10px;
      stroke: var(--color-text);
      width: 80%;
    }
  }
  @include responsive(lg) {
    display: block;
  }
}
