.section {
  position: relative;
  z-index: 40;
  padding: 120px 20px;
  &-title {
    @include font-style(en);
    @include text-style(title-3);
    text-align: center;
  }
  &-body {
    margin: 80px auto 0;
    max-width: $breakpoint-lg;
  }
  @include responsive(md) {
    &-title {
      @include text-style(title-1);
    }
  }
}
