$font-ko: "Noto Sans KR", serif;
$font-en: "Alfa Slab One", serif;

$line-height: 1.4;
$letter-spacing: -0.005;

$typography-title-1: 36px;

$typography-title-2: 28px;

$typography-title-3: 24px;

$typography-title-4: 20px;

$typography-text-1: 18px;

$typography-text-2: 16px;
