.about-item {
  max-width: 600px;
  background-color: var(--color-bg);
  box-shadow: 0 0 40px 20px var(--color-bg);
  &-title {
    @include text-style(title-4);
  }
  &-description {
    margin-top: 20px;
  }
}
