.preview-card {
  border: 1px solid var(--color-bg);
  &-image {
    position: relative;
    padding: 1px;
    border-bottom: 1px solid var(--color-bg);
    aspect-ratio: 4/2;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  h5 {
    @include text-style(text-2);
    padding: 12px 8px;

    opacity: 0.9;
    font-weight: 500;
  }
}
