@font-face {
  font-family: "portfolio";
  src: url("../fonts/portfolio.eot");
  src: url("../fonts/portfolio.eot") format("embedded-opentype"),
    url("../fonts/portfolio.ttf") format("truetype"),
    url("../fonts/portfolio.woff") format("woff"),
    url("../fonts/portfolio.svg") format("svg");
}
