:root {
  --color-text: #3a6ecf;
  --color-bg: #fff7e3;
}

.bg-blue {
  --color-text: #fff7e3;
  --color-bg: #3a6ecf;
}

html,
body {
  @include text-style(text-2);
  font-family: $font-ko;
  color: var(--color-text);
  @include responsive(md) {
    @include text-style(text-1);
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--color-bg);
  transition: background-color 200ms ease-in-out;
  &.no-scroll {
    overflow: hidden;
  }
}
