.skills {
  .section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .badge-area {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .description {
    &-list {
      margin: 40px auto 0;
    }
    &-item {
      display: flex;
      align-items: start;
      gap: 8px;
      max-width: 900px;

      i {
        margin-top: 4px;
      }
      &:not(:first-of-type) {
        margin-top: 8px;
      }
    }
  }
  @include responsive(md) {
  }
}
