$font-kr: "Noto Sans KR", serif;
$font-en: "Alfa Slab One", serif;

$line-height: 1.4;
$letter-spacing-kr: -0.005em;
$letter-spacing-en: 0.05em;

$typography-title-1: 36px;

$typography-title-2: 28px;

$typography-title-3: 24px;

$typography-title-4: 20px;

$typography-text-1: 18px;

$typography-text-2: 16px;

$typography-text-3: 14px;
